#title{
  color:#43a3f2;
  font-size: 23px;
  /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
  position: fixed;
  left:644px;
  top: 80px;
  z-index: 1;
}

#background{
  height: 573px;
  width: 815px;
  z-index: 0;
}

#outputWaste {
  position: relative;
  left: -229px;
  bottom: -60px;
  color:rgb(0, 110, 255);
  font-size: small;
}

#outputAnimals {
  position: fixed;
  left: 358px;
  top: 460px;
  color:rgb(0, 110, 255);
  font-size: large;
}

#main_container{
  margin-top: 65px;
  margin-bottom: 66px;
}

#card_01{
  width: 648px;
  height: 202px;
  margin-top: 20px
}

#card_02{
  width: 352px;
  height: 228px;
  -webkit-animation: smooth 0.8s ease-in;
  -moz-animation: smooth 0.8s ease-in;
  -o-animation: smooth 0.8s ease-in;
  -ms-animation: smooth 0.8s ease-in;
  animation: smooth 0.8s ease-in;
}

#card_03{
  width: 352px;
  height: 228px;
  margin-left: 20px;
  -webkit-animation: smooth 2s ease-in;
  -moz-animation: smooth 2s ease-in;
  -o-animation: smooth 2s ease-in;
  -ms-animation: smooth 2s ease-in;
  animation: smooth 2s ease-in;
}

#count {
  border-radius: 4px;
  background-color: #f4901e;
  border: none;
  color: #FFFFFF;
  font-size: 20px;
  cursor: pointer;
  margin: 5px;
  position: absolute;
  left: 360px;
  bottom: -70px;
  width: 100px;
  height: 100px;
  opacity: 0;
  visibility: hidden;
}

#showFst{
  position: absolute;
  left: 483px;
  bottom: 123px;
  color:rgb(0, 110, 255);
  font-size: 3em;
  -webkit-animation: smooth 1s ease-in;
  -moz-animation: smooth 1s ease-in;
  -o-animation: smooth 1s ease-in;
  -ms-animation: smooth 1s ease-in;
  animation: smooth 1s ease-in;
}

#show2nd{
  position: absolute;
  left: 56px;
  bottom: 97px;
  color:rgb(0, 110, 255);
  font-size: 3em;
}

#kg{
  color:rgb(0, 110, 255);
  font-weight: bold;
  -webkit-animation: smooth 0.8s ease-in;
  -moz-animation: smooth 0.8s ease-in;
  -o-animation: smooth 0.8s ease-in;
  -ms-animation: smooth 0.8s ease-in;
  animation: smooth 0.8s ease-in;
}

#arrow_01{
  position: absolute;
  bottom: 232px;
  left: 342px;
  height:50px;
  width: 50px;
  -webkit-animation: smooth 0.5s ease-in;
  -moz-animation: smooth 0.5s ease-in;
  -o-animation: smooth 0.5s ease-in;
  -ms-animation: smooth 0.5s ease-in;
  animation: smooth 0.5s ease-in;
}

#arrow_02{
  position: absolute;
  top: 226px;
  right: -5px;
  height:21px;
  width: 78px;
  -webkit-animation: smooth 1.5s ease-in;
  -moz-animation: smooth 1.5s ease-in;
  -o-animation: smooth 1.5s ease-in;
  -ms-animation: smooth 1.5s ease-in;
  animation: smooth 1.5s ease-in;
}

#arrow_03{
  position: absolute;
  left: -324px;
  bottom: 232px;
  height:50px;
  width: 50px;
  -webkit-animation: smooth 2.5s ease-in;
  -moz-animation: smooth 2.5s ease-in;
  -o-animation: smooth 2.5s ease-in;
  -ms-animation: smooth 2.5s ease-in;
  animation: smooth 2.5s ease-in;
}

#btn_reset_cover{
  position: absolute;
  left: 355px;
  bottom: 182px;
  height:100px;
  width: 100px;
  -webkit-animation: smooth 3s ease-in;
  -moz-animation: smooth 3s ease-in;
  -o-animation: smooth 3s ease-in;
  -ms-animation: smooth 3s ease-in;
  animation: smooth 3s ease-in;
}

#reset {
  border-radius: 4px;
  background-color: #f4901e;
  border: none;
  color: #FFFFFF;
  font-size: 20px;
  padding: 20px;
  cursor: pointer;
  margin: 5px;
  position: absolute;
  left: 360px;
  bottom: 185px;
  width: 80px;
  height: 80px;
  opacity:0;
}

@-webkit-keyframes smooth {
  0% { opacity: 0;}
  25% { opacity: 0;}
  50% { opacity: 0;}
  75% { opacity: 0;}
  100% { opacity: 1;}
}

#countCover{
  position: absolute;
  left: 358px;
  bottom: -91px;
  width: 100px;
  height: 100px;
  visibility: hidden;
}

#s1{
  -webkit-animation: smooth 0.8s ease-in;
  -moz-animation: smooth 0.8s ease-in;
  -o-animation: smooth 0.8s ease-in;
  -ms-animation: smooth 0.8s ease-in;
  animation: smooth 0.8s ease-in;
}

#st{
  -webkit-animation: smooth 0.8s ease-in;
  -moz-animation: smooth 0.8s ease-in;
  -o-animation: smooth 0.8s ease-in;
  -ms-animation: smooth 0.8s ease-in;
  animation: smooth 0.8s ease-in;
}

#s2{
  -webkit-animation: smooth 2s ease-in;
  -moz-animation: smooth 2s ease-in;
  -o-animation: smooth 2s ease-in;
  -ms-animation: smooth 2s ease-in;
  animation: smooth 2s ease-in;
}

#happy_01{
  z-index: 0;
  left: 151px;
  bottom: 84px;
  position: absolute;
  width: 185px;
  -webkit-animation: smooth 1s ease-in;
  -moz-animation: smooth 1s ease-in;
  -o-animation: smooth 1s ease-in;
  -ms-animation: smooth 1s ease-in;
  animation: smooth 1s ease-in;
}

#happy_02{
  z-index: 1;
  left: 342px;
  bottom: 84px;
  position: absolute;
  width: 185px;
  -webkit-animation: smooth 1s ease-in;
  -moz-animation: smooth 1s ease-in;
  -o-animation: smooth 1s ease-in;
  -ms-animation: smooth 1s ease-in;
  animation: smooth 1s ease-in;
}

#happy_03{
  z-index: 1;
  left: 532px;
  bottom: 84px;
  position: absolute;
  width: 185px;
  -webkit-animation: smooth 1s ease-in;
  -moz-animation: smooth 1s ease-in;
  -o-animation: smooth 1s ease-in;
  -ms-animation: smooth 1s ease-in;
  animation: smooth 1s ease-in;
}

  #happy_btn_01{
    left: 151px;
    bottom: 84px;
    position: absolute;
    width: 185px;
    height:100px;
    z-index: 1;
    opacity: 0;
    cursor: pointer;
    
  }
  
  #happy_btn_02{
    left: 342px;
    bottom: 84px;
    position: absolute;
    width: 185px;
    height:100px;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
  }
  
  #happy_btn_03{
    left: 532px;
    bottom: 84px;
    position: absolute;
    width: 185px;
    height:100px;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
  }

  #indicator
  {
    position: absolute;
    width: 25px;
    height:25px;
    left: 240px;
    bottom: 93px;
    visibility: hidden;
  }

  #rangeSlider{
    position:absolute;
    bottom: -24px;
    left:344px;
    width:170px;
  }

  #straws{
    position:absolute;
    bottom: 123px;
    left:662px;
    color:rgb(0, 110, 255);
    font-size: 3em;
    -webkit-animation: smooth 1s ease-in;
    -moz-animation: smooth 1s ease-in;
    -o-animation: smooth 1s ease-in;
    -ms-animation: smooth 1s ease-in;
    animation: smooth 1s ease-in;
  }

  #day{
    position:absolute;
    bottom: 21px;
    left:540px;
    color:rgb(0, 110, 255);
    font-size:3em;
  }

  .text_btn{
    visibility: hidden;
    bottom: 66px;
    left:577px;
    color:rgb(0, 110, 255);
    font-weight: bold;
  }

  #text_01{
    position:absolute;
    visibility: hidden;
    font-size:18px;
  }

  #text_02{
    position:absolute;
    visibility: hidden;
    font-size:18px;
  }

  #text_03{
    position:absolute;
    visibility: hidden;
    font-size:18px;
  }

  .selectBtn{
    border:2px solid rgb(0, 110, 255);
    border-radius:15px;}

  .selectBtnOff{border:none;}

  .clickBtn{
    border:2px solid rgb(0, 110, 255);
    border-radius:15px;
  }

  .clickBtnOff{
    border:none;
  }